server:
  port: 8080

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      routes:
        - id: patient-service
          uri: http://localhost:8081
          predicates:
            - Path=/api/patient/**,/api/auth/**,/api/requests/**

        - id: provider-service
          uri: http://localhost:8082
          predicates:
            - Path=/api/providers/**,/api/provider/**

        - id: medical-record-service
          uri: http://localhost:8083
          predicates:
            - Path=/api/records/**

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: false
    fetch-registry: true

logging:
  level:
    org.springframework.cloud.gateway: INFO
