server:
  port: 8080

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      routes:
        - id: patient-service
          uri: lb://patient-service
          predicates:
            - Path=/api/patient/**,/api/auth/**,/api/requests/**,/api/notifications/**

        - id: provider-service
          uri: lb://provider-service
          predicates:
            - Path=/api/providers/**,/api/provider/**

        - id: medical-record-service
          uri: lb://medicalrecord-service
          predicates:
            - Path=/api/records/**

        - id: request-service
          uri: lb://request-service
          predicates:
            - Path=/api/requests/**

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: false
    fetch-registry: true

logging:
  level:
    org.springframework.cloud.gateway: INFO
